@import "./nullstyle.scss";

body {
  color: #7f7f7f;
  font-size: 12px;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}
.wrapper{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(520px, auto) minmax(467px, auto) minmax(16px, auto) auto;
  grid-row-gap: 35px;

  .grid-item {
    //border: 1px solid black;
  }

  .header{
    display: grid;
    grid-template-columns: 230px 20px 1fr 1fr 1fr;

    header.header_box {
      background-color: white;
      padding: 47px 28px;
      box-sizing: border-box;

      img {
        margin-bottom: 35px;
        display: inline-block;
      }

      nav{
        font-family: 'Oswald', sans-serif;
        color: black;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 33px;

        a {
          color: inherit;
          text-decoration: none;
          transition: 300ms ease-in-out;

          §:hover {
            color: #ffa800;
            transition: 300ms ease-in-out;
          }
        }
      }
    }

    .grid-item {
      position: relative;

      &:hover {
        .mask {
          opacity: 1;
          transition: 300ms ease-in-out;
        }
      }

      .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 198, 12, 0.91);
        opacity: 0;
        transition: 300ms ease-in-out;
      }

      .info_box {
        position: absolute;
        bottom: 0;
        left: 100px;
        padding-bottom: 43px;
        text-align: center;

        h2 {
          font-family: 'Oswald', sans-serif;
          font-size: 30px;
          line-height: 30px;
          font-weight: 700;
          margin-bottom: 14px;
          color: white;
          text-transform: uppercase;

        }
        p{
          //text-align: center;
          margin-bottom: 0;
          color:  white;
          font-size: 11px;

        }
      }
    }

    .image_1 {
      width: 100%;
      background-image: url("../img/traveler.jpg");
    }
    .image_2 {
      width: 100%;
      background-image: url("../img/horses.jpg");
    }
    .image_3 {
      width: 100%;
      background-image: url("../img/man-hands.jpg");
    }
  }

  .statistic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white url("../img/map.jpg.webp") no-repeat center center;
    background-size: cover;
    //opacity: 40%;

    .info {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
      grid-template-rows:  auto auto;
      padding: 70px;
      box-sizing: border-box;

      .stats_1,.stats_2,.stats_3 {
        .stat_col {
          display: inline-block;
          text-align: center;
        }
        .number {
          color: rgba(255, 198, 12);
          font-size: 81px;
          line-height: 81px;
          font-weight: 300;
          font-family: 'Oswald', sans-serif;
          display: block;
        }

        .description {
          color: #7f7f7f;
          font-size: 12px;
          font-family: 'Oswald', sans-serif;

        }
      }

      .info_block {
        grid-column-start: 1;
        grid-column-end: 4;

        h3{
          color: black;
          font-family: 'Oswald', sans-serif;
          font-size: 21px;
          line-height: 21px;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        p {
          font-size: 11px;
          color: #7f7f7f;
          line-height: 14px;
          margin-bottom: 30px;
        }

        .button {
          display: inline-block;
          padding: 7px 19px;
          font-size: 18px;
          text-transform: uppercase;
          color: #FFF;
          line-height: 18px;
          font-family: 'Oswald', sans-serif;
          background: rgba(255, 198, 12);
          text-decoration: none;
          transition:  all 300ms ease-in-out;

          §:hover {
            background: #000;
            transition:  all 300ms ease-in-out;
          }
        }
      }
    }

    .video {
      position: relative;
      align-items: center;

      //padding: 0px 0px 24% 0px;

      iframe {
        padding: 70px 20px;
        position: absolute;
        //width: 100%;
        //height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }

  .gallery{
    display: grid;
    grid-template-columns: 360px 1fr 1fr;
    grid-template-rows: 370px 370px;
    grid-gap: 19px;

    .grid-item:first-child{
      grid-row-start: 1;
      grid-row-end: 3;
    }

    .grid-item:nth-child(2){
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
}
