@import "./nullstyle.scss";

body {
  color: #7f7f7f;
  font-size: 12px;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}
.wrapper{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(500px, auto) minmax(467px, auto) minmax(16px, auto) auto;
  grid-row-gap: 35px;

  .grid-item {
    //border: 1px solid black;
  }

  .header{
    display: grid;
    grid-template-columns: 230px 20px 1fr 1fr 1fr;

    .image_1 {
      background-image: url("../img/traveler.jpg");
    }
    .image_2 {
      background-image: url("../img/horses.jpg");
    }
    .image_3 {
      background-image: url("../img/man-hands.jpg");
    }
  }

  .statistic {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery{
    display: grid;
    grid-template-columns: 360px 1fr 1fr;
    grid-template-rows: 370px 370px;
    grid-gap: 19px;

    .grid-item:first-child{
      grid-row-start: 1;
      grid-row-end: 3;
    }

    .grid-item:nth-child(2){
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
}